# Python
__pycache__/
*.py[cod]
.env
venv/
.venv/
*.egg-info/
dist/
build/

# Node / React
node_modules/
frontend/dist/
frontend/build/
.npm

# Docker
.docker/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log

#docs
internal-docs